RewriteEngine On

# Разрешаем доступ к файлам в /api, без переписывания
RewriteCond %{REQUEST_URI} ^/api/
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Разрешаем доступ к /media
RewriteCond %{REQUEST_URI} ^/media/
RewriteRule ^ - [L]

# Если файл или папка не существует — редиректим на index.html (для Vue)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
